body{
    margin:0;
    padding:0;
    min-height:100vh;
    height:auto;
    overflow-x:hidden;
    background-color: #000;
    scroll-behavior: smooth;
}


nav{
    position: fixed;
    z-index:9000;
    display: flex;
    margin: 0;
    margin-bottom: 20px;
    background-color: rgb(44, 42, 42);
    width:100%;
    height:2.5rem;
    padding:0.75rem;
}
a{
    color:#fff;
    text-decoration: none;
}

nav ul{
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li{
    margin: 2px;
    text-decoration: none;
    list-style-type: none;

}


header{
    position:relative;
    top:0;
    left:0;
    margin: 0;
    width:100%;
    height:100vh;
   background-attachment:fixed;
    text-align: center;
    background-image: url('./galaxy.jpg');
    background-color: rgb(1, 1, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 75;
}
.arrow{
    position:absolute;
    bottom:10%;
    height:50px;
    animation-name: down-up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes down-up{
    0%{
        transform: translateY(0);
    }
    
    100%{
        transform:translateY(10px);
    }
}
h1{
    color:#fff;
}
p{
    height:100px;
}
span{
    color:rgb(139, 21, 229);
    background:  linear-gradient(rgba(54, 9, 160, 0.5), rgb(221, 12, 137));
}
h2 span::after{
    content:"";
    border-left:3px solid rgb(139, 21, 229);

}
.overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
   /*  background: #000;
   opacity: 0.85;  */  
    z-index:50;
}
    .text{
        position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
    }
    .text img{
        height: 50px;
        width:50px;
        fill:#000;
        opacity:1;
    }
    main{
        margin:0;
        padding:0;
    }
    #Calculator{
        text-align:center;
        margin-top:10rem;
        height:2.5rem;
    
    }
    #type::after{
        content:'';
        border:1px solid rgb(240, 235, 235);
        height:15px;
        width:15px;
        animation-name: blink;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }
    @keyframes blink {
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
        
    }
    #Calculator h1{
        font-size:2.5rem;
    }
    .about_section{
        margin:-35px;
        height:300px;
        min-width:100vw;
        text-align: center;
        background-image: url('./about2.jpg');
        background-attachment: fixed;
        color:whitesmoke;
        background-size: cover;
        background-position: center center;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        background-position: center;
        background-repeat: no-repeat;
    }
    .about_section h1{
        font-size:2.5rem;
    }
    .about_section p{
        width:80%;
        margin:0 auto;
    }
    .container{
        max-width:100%;
        background:#000;
        width:100%;
        margin:0;
        padding: 0 20px;
        transform-origin: top center;
        /*transform:scale(0.8);*/
    }
    .at-section_title{
       
        color:#fff;
        font-size:3.5rem;
        font-weight: 300;
        text-align:center;
        margin-bottom: 3.5rem;
    }
    .at-grid{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
        background: #000;
    
    }
   
    .at-column{
       z-index:0;
        position:relative;
        color:#fff;
       /* box-shadow: 2px 0 0 1px rgb(27, 26, 26);*/
        transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
        width:250px;
        height:250px;
        text-align: center;
        margin:1.2rem;

    }
    .at-column:before{
        content: "";
        display:block;
        padding-top:100%;
    }
    .at-column:hover{
        z-index:1;
        box-shadow:0 8px 50px rgba(75, 73, 73, 0.489);
        transform:scale(1.05);
        transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
    }
    .at-user{
        position: absolute;
        top:50%;
        left:0;
        width:100%;
        transform:translate(0,-50%);
        text-align: center;
    }
    .at-user_avatar{
        width:98px;
        height:98px;
        display:block;
        border-radius: 100%;
        margin:0 auto 20px;
        overflow:hidden;
    }
    /*.at_user-avatar img{
        display:'block';
        margin:0 auto;
        width: 100%;
        max-width:100%;

    }*/
    .at-user_name{
        font-size:1.5rem;
        font-weight:500;
        line-height:2.625rem;
    }
    .at-user_name+p{
        font-size:0.875rem;
        font-weight:300;
        line-height:2.375rem;
    }
    .at-social{
        position: absolute;
        bottom:25px;
        display:flex;
        align-items:center;
        justify-content: center;
        list-style-type: none;
        margin-top:-30px;
        opacity:0;
        transition: margin 0.2s ease, opacity 0.2s ease;
        left:10%;
    }
    .at-social_item{
        display:inline-block;
        margin-right:1.25rem;
       /* margin:0 10px;*/
    }
    .at-social_item a{
        display: block;
    }
    .at-social_item img{
fill:#fff;

width:18px;
        display:block;
        height:18px;
        transition: fill 0.2s ease;
    }
    .at-column:hover .at-social{
        opacity:1;
        fill:#fff;
     

    }
    .at-column:hover .at-social_item{
        
    }
    .section_form{
        color:#fff;
        margin:0 auto;
        width:80%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    form{
        margin:0 auto;
        max-width:450px;
        border-radius: 12px;
        width:60%;
        min-width:300px;
        box-shadow: 2px 2px 10px rgba(120, 116, 116, 0.686);
    }
    form  div {
        width:100%;
        margin:0 auto;
    }
    label{
        display:block;
        width:70%;
        margin:10px auto;
    }
    input[type='text']{
        padding:5px 20px;
        display:block;
        width:70%;
        margin:0 auto;
        border-radius: 4px;
        border:none;
        outline:none;
    }
    input[type='file']{
        margin:0 auto;
        display:block;
        width:70%;
    }
    input[type='submit']{
        border:none;
        margin:1.2rem auto;
        border-radius:15px;
        padding:8px 12px;
        display:block;
    }
    @media (max-width :500px){
        .at-grid{
            justify-content: center !important;
        }
    }